
.footer {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-size: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black ;
    background-color: white;

}
