
.footer {
    color: black ;
    background-color: #d7f0c6;
    height: auto;
    width: 100%;
    padding-top: 40px;
}

.asterisco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 100%;
}

.redesSociales{
    width: 100%;
    height: 100%;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;

}

.copyright{
    align-items: center;
    font-weight: bold;

}
