.imagenCentral{
    width: 100%;
}

.titulo{ display: flex;
    justify-content: center;
    font-size: 500%;
    background-color:$bg-secundario;
    color: aliceblue;
    font-family: 'Playfair Display', serif;
}

.margenCarousel{
    margin-top: -8px;
    margin-bottom: 10px;

}

.botonEmergente{
    width: fit-content;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: $bg-secundario;


}
.botonColor{
    background-color: green;
}

.botonColor:hover{
    background-color: $bg-secundario;
}