
@media (max-width: 600px){
    .titulo{
        font-size: 120%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 80%;
    }

    h4{
        font-size: 100%;
    }
    .footer{
        font-size:40% ;
    }
    .textoSucursal{
        font-size: 80%;
        flex-direction: column;
        align-items: center;
    }
   .galeriaImagenes{
    display: flex;
    flex-direction: column;
   }
   .misionContainer{
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 80%;
   }
   .tituloMision{
    font-size: 180%;
    width: 100%;
   }

   .margenCarousel{
    padding: 0%;
   }
   .copyright{
    font-size: 40%;
   }
}