
.imagen1{
    width: 30%;
    min-width: 200px;
}

.redesCards{
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 50% 50%;
justify-items: center;
gap: 25px;
height: 100%;
width: 100%;

}