.sobreNosotros{
    width: 100%;
}
.parrafo{
    width: 100px;
}

.sobreNosotros {
    display: flex;
    margin-top: -20px;

}


.tituloMision{
    font-size: 300%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mision{
    display: flex;
    justify-content:left;
    font-size: 100%;
    align-content: start;
}