

.sobreNosotros {
    width: 100%;
    margin-top: -13px;


}


.tituloMision{
    font-size: 350%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    width: 100%;
    padding: 0 15% 0 15%;
    padding-top: 5%;
    
    
}


.misionContainer{
    display: flex;
    align-items: center;
    padding: 2%;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.misionParrafo{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px;
    color: green;
    display: flex;
    align-items: center;
    text-align: center;
}

.mision{
    width: 100%;
}

.sobreNosotrosImagen{
    width: 100%;
}