.imagenCentralLocales{
    width: 100%;
    z-index: 1;
    opacity: 50%;

}

.textoSucursal{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: pink;
    }
    

.mapa{
    padding: 2%;
}

