@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
.logoAsterisc {
  width: 80px;
  height: 90px;
}

ul li a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navFlex {
  display: flex;
  justify-content: center;
}

.imagenCentral {
  width: 100%;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 300%;
  background-color: #9B1FA3;
  color: aliceblue;
  font-family: "Playfair Display", serif;
}

.bannerTitulo {
  width: 100%;
  margin: 0%;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  gap: 25px;
  justify-items: center;
  margin-top: 30px;
  align-items: center;
  padding-bottom: 10%;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  transition: all 0.25s;
}

h4 {
  margin-top: auto;
  font-size: 150%;
  font-weight: bold;
  background-color: rgb(248, 203, 255);
}

.descripciones {
  margin-top: auto;
  padding: 0 1rem;
  font-size: 100%;
}

.botonVerMas {
  text-decoration: none;
  color: rgb(11, 130, 170);
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.imagenCentralLocales {
  width: 100%;
  z-index: 1;
  opacity: 50%;
}

.textoSucursal {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: pink;
}

.mapa {
  padding: 2%;
}

.sobreNosotros {
  width: 100%;
}

.parrafo {
  width: 100px;
}

.gridSobreNosotros {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100% 100%;
  grid-template-areas: "sobreNosotros parrafo";
}

.sobreNosotros {
  grid-area: sobreNosotros;
}

.parrafo {
  grid-area: parrafo;
}

.imagen1 {
  width: 30%;
  min-width: 200px;
}

@media (max-width: 600px) {
  .titulo {
    font-size: 120%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
  h4 {
    font-size: 100%;
  }
  .footer {
    font-size: 80%;
  }
}
@media (max-width: 900px) {
  .titulo {
    font-size: 220%;
  }
  .footer {
    font-size: 160%;
  }
}
.footer {
  color: black;
  background-color: #d7f0c6;
  height: auto;
  width: 100%;
  padding-top: 40px;
}

.asterisco {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: 100%;
}

.redesSociales {
  width: 100%;
  height: 100%;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
}

.copyright {
  align-items: center;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d7f0c6;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 70px;
  position: relative;
}

.boton, .boton-warning, .boton-sucess, .boton-error, .boton-secundarios, .boton-primario {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
}

.boton-primario {
  background-color: pink;
  color: darkmagenta;
  border: 1px solid lightpink;
}

.boton-secundarios {
  background-color: lightgreen;
  color: green;
  border: 1px solid lightyellow;
}

.boton-error {
  background-color: red;
  color: white;
  border: 1px solid lightcoral;
}

.boton-sucess {
  background-color: green;
  color: white;
}

.boton-warning {
  background-color: orange;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */